body{
    background: #eee;
    color: #333;
    font: 13px 微软雅黑, Verdana, Arial, Helvetica, sans-serif;
    line-height: 1;
}
*{padding: 0;margin: 0;}
ul,li{list-style: none;}


#pagination{
    margin: 50px 0;
}

.footer{
    height: 200px;
    background: #333;
    padding: 0 20px;
    padding-top: 20px;
    margin-top: 50px;
    color: #fff;
    line-height: 20px;
}
.footer .text-warning{
    color:#8a6d3b !important;
}