@import "common.css";

@media (min-width: 1200px) {
    .container,.container-lg,.container-md,.container-sm,.container-xl {
        max-width:1400px
    }
}


.category-list{
    height: 50px;
    line-height: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: left;
    align-items: baseline;
}

.category-list .list-title{
    display: inline-block;
    padding: 3px 15px;
    background: #aaa;
    color: #fff;
}
.category-list .list-content{
    display: flex;
    line-height: 16px;
    justify-content: start;
}
.category-list .list-content li{
    padding:3px 10px;
    cursor: pointer;
}

.category-list .list-content li:hover{
    color:#007bff
}

#listUl{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: wrap;
    margin-top: 20px;
}
.liCom{
    background: #ffff;
    display: inline-block;
    width: 25%;
    min-width: 320px;
    border: 5px solid #eee;
    -webkit-animation: fadeInUp .3s .2s ease both;
    -moz-animation: fadeInUp .3s .2s ease both;
}
.liCom > a{
    color:inherit;
}
.liCom > a:hover{
    color:inherit;
    cursor: default;
    text-decoration: none;
}

.imgMask img{
    width: 310px;
    margin: 0 auto;
    height: auto;
    display: block;
}

.imgMask img:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
}

.liCom .liTitle{
    padding: 10px;font-size: 18px;font-weight: bolder;
}
.liCom .litip{text-align: center;padding: 10px 0;border-top: 1px dashed #ccc;}

.pageBox {height: 30px;margin: 0 2.5%;padding-bottom: 20px;}
.pageBox li{height: 30px;line-height: 30px;text-align: center;border: 1px solid #ccc;width: 80px;float: left;background: #fff;margin-left: 10px;}


.footer{
    height: 100px;
}


