<!DOCTYPE html>
<html>
<head>
    <meta name="referrer" content="no-referrer">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <title>电影列表</title>
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/js/plugins/jquerypage/css/page.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/list.css">
</head>
<body data-page="{{page}}" data-total_page={{total_page}} >
    <div class="container">
        <ul id="listUl">
            {% for item in items %}
                <li class="liCom">
                    <div class="imgMask">
                        <a href="/movie?id={{item.filmid}}">
                            <img src="{{ item.mainimgsrc }}"/>
                        </a>
                    </div>
                    <div class="liTitle" title="{{ item.maintitle }}">{{ item.maintitle }}</div>
                    <div class="litip">
                        <span>{{ item.year }}</span>
                        <span>{{ item._class }}</span>
                    </div>
                </li>
            {% else %}
                <li>This would display if the 'item' collection were empty</li>
            {% endfor %}
        </ul>
        <div id="pagination" class="page fl"></div>
        <div class="footer">

        </div>
    </div>
    <script type="text/javascript" src="/assets/js/jquery-3.5.1.min.js" ></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="/assets/js/plugins/jquerypage/js/page.js" ></script>
    <script type="text/javascript" src="/assets/js/pagination.js" ></script>
    <script type="text/javascript">
        // $('.liTitle').text().split('').length>46?$('.liTitle').text($('.liTitle').text().substring(0,46)+'...'):$('.liTitle').text($('.liTitle').text());
    </script>
</body>
</html>
